.controlButtons {
    
    max-height: fit-content;
    max-width: 100%;

    padding: 0.75rem !important;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.4);
}

.individualButton {

    max-width: 0.5rem;
    max-height: 0.2rem;

    padding: 0.5rem 2.65rem 1.75rem 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    overflow: visible;
    text-align: center;
}
