.cell {
    height: auto;
    width: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    
    font-size: 20px;
    font-weight: bold;

    border: 1px solid #6d6875;
}

.cell:nth-child(3n) {
    border-right: solid 2px black;
}

.cell:nth-child(3n + 1) {
    border-left: solid 2px black;
}

.selectedCell {
    background-color: #3a5a40;
}

.inputCell {
    background-color: #dad7cd;
}

.activeCell {
    background-color: #84a98c;
}