.cell {
    height: auto;
    width: 3rem;
    max-width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    
    font-size: 20px;
    font-weight: bold;

    border: 1px solid #6d6875;
    /* background-color: blue; */

}

.active {
    background-color: #ff595e;
    z-index: 1;
}

.inputCell {
    background-color: #84a98c55;
    z-index: 2;
}