.cell {
    height: auto;
    width: 3rem;
    max-width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    
    font-size: 20px;
    font-weight: bold;

    border: 1px solid #6d6875;
    /* background-color: blue; */

}

.selectedCell {
    background-color: #52796f;
}

.inputCell {
    background-color: #dad7cd;
}

.activeCell {
    background-color: #84a98c;
}