.header {

    max-width: fit-content;

    background-color: white;

    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.title {
    font-size: 2rem;
    margin-right: 2rem;
}

.time {
    font-size: 1.5rem;
    margin-bottom: .1rem;
}

