.card {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  padding: 1rem;

  position: relative;
  background-color: white;
  
  /* Note: Makes card hug inside components  */
  display: inline-block;
  width: auto;
}
